---
layout: default
title: Home
---
<div class="home-content">
  <h1>Let's make AI work for the people</h1>
  
  <div class="posts-container">
    {% for post in site.posts %}
      <div class="post-item">
        <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        {% if post.excerpt %}
          <p class="excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
